@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
*{
    padding: 0;
    margin: 0;
}
main{
    font-family: 'Exo', sans-serif;
}
.caption1{
    font-size: 58px;
    font-weight: 100;
    line-height: 79px;
    font-style: normal; 
    color: rgba(30, 30, 30, 0.838);  
}
.footnote{
    font-size: 14px;
    font-weight: 800;
    line-height: 40px;
    font-style: normal; 
    color: rgb(46, 46, 46);
}
h3{
    font-size: 18px;
    font-weight: 800;
    line-height: 50px;
    font-style: normal; 
    color:#ff6d6d;
    text-transform: uppercase;
}
h4{
    font-size: 18px;
    font-weight: 800;
    line-height: 50px;
    font-style: normal; 
    text-transform: uppercase;
    margin-top: 10px;
}
.caption{
    font-size: 38px;
    font-weight: 800;
    line-height: 50px;
    font-style: normal; 
    color: rgba(30, 30, 30, 0.838); 
}
.text{
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    font-style: normal; 
    color: rgba(77, 77, 77, 0.838);  
    margin-top: 30px;
    margin-bottom: 30px;
}
#section1{
    height: 100vh;
    background-image: url(./joel-jasmin-forestbird-Zi9yS95gDUQ-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
#section1 .info{
    height: 50vh;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.but{
   width: 180px;
   height: 45px;
   border-radius: 3px;
   background-color: #ff6d6d;
   border: #ff6d6d;
}
.but a{
    text-decoration: none;
    color: white;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}
.info img{
    width: 55px;
    height: 55px;
}
#section2{
    height: 100vh;
    display: flex;
}
.info2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
}
.background{
    width: 40%;
    height: 100%;
    background-color: rgb(255, 109, 109);
    background: linear-gradient(135deg, rgb(219, 220, 220) 55%, rgba(255, 109, 109, 1) 45%) center center / 100% 100% no-repeat;
}
#section3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 231, 231, 0.382);
}
.img1{
    position: relative;
    z-index: 1;
    top: 35px;
    left: 300px;
    width: 300px;
}
.img2{
    position: relative;
    z-index: 1;
    left: -350px;
    top: -320px;
    width: 400px;
}
.img1 img{
    width: 300px;
    transform: rotate(80deg);
}
.img2 img{
    width: 400px;
    transform: rotate(10deg);
}
#section3 .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 2;
}
.info3{
    text-align: center;
}
.info3-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.info3-1 > div{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}
.info3-1 p{
    text-align: center;
}



